* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  .header {
    display:flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom:  1px solid ;
    width: 97%;
    margin: auto;
  }

  .logo a {
    text-decoration: none;
  }

  .navigation {
    width: 40%;
    display: flex;
    justify-content: space-between;
  }

  .navigation a {
    text-decoration: none;
  }

  .menu {
    width:5%;
    display: flex;
    justify-content: space-between;
  }

.home-page {
  width: 80%;
  margin: auto;
}

.latest-article {
  width: 100%;
  display: flex;
  justify-content:space-between;
  height: 400px;
}



.recent-articles > div:first-of-type {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.articles > div {
  width:30%;
  height: 400px;
  border: 1px solid;
  padding-bottom: 10px;
}

.recent-articles > div:last-of-type {
  border: 1px solid;
  text-align: center;
  padding-bottom: 10px;
} 

.form {
  height: 400px;
  background-color: lightgray;
  
}